main{
     background: #1e3c72;
  background: linear-gradient(
    to right,
    #1e3c72,#1e3c72,#2a5298
  );
}
h1{
    padding: 2rem 0;
}
img{
    width: 100%;
    max-width: 400px;
}
.cont{
    display: flex;
    justify-content: flex-end;
}
#container{
    margin: 0 5%;
    padding: 1rem 5%;
    border: 2px solid red;
    border-radius: 10px;
}
canvas{
    width: 100%;
    width: 100% !important;
}
@media (max-width:650px) {
    #container{
        padding: 1rem 2%;
    }
}